<style>

</style>

<div class="event_details_page">
    <div class="container" style="text-align: center; margin-top: 20px;">
        <form action="/save_event_details" method="POST" enctype="multipart/form-data"  id="events_details">
            <input type="hidden" name="Id" value="{{ event.Id }}" />
            <input  type="hidden" name="user" value="{{user}}" /> 
            <button type="submit" value="submit" class="btn family_house_color_schema" style="float: right;">Save</button>
            <h4 for="title">Event Title</h4> <br />
            <input class="form-control" type="text" name="title" value="{{ event.title }}" /><br />
            <h4>Event Content</h4><br />
            <textarea style="min-height: 400px;" name="content" class="form-control" placeholder="Event Content">{{ event.content }}</textarea><br />
            <h4>House</h4> <br />
            <select class="custom-select mr-sm-2 form-control" name="house">
               <option value="4" selected>All Houses</option>
               <option value="1">Neville</option>
               <option value="2">Shadyside</option>
               <option value="3">University Place</option>
           </select> <br />
            <div class="col-sm-12"><h4>Current Event Date: {{ event.event_date }}</h4> <a href="javascript:changeDate()"><i>Click to Change</i></a></div><br />

        </form>
    </div>
</div>




<script type="text/javascript">
  function changeDate(){
     $('#events_details').append('<input type="date" class="form-control" name="event_date" value="{{ event.event_date }}" />');
  }

  $("#imgInp").change(function() {
    readURL(this);
  });
</script>
