<style>
  table,
  th,
  td {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
  }

  textarea {
    min-width: 100%;
  }

  .modal {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}
</style>
{{#if success}}
  <div class="alert alert-primary" role="alert">
    {{ success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if error}}
  <div class="alert alert-primary" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<div class="container">
  <form name="save_faq" id="save_faq" class="" action="/save_faq" method="POST">

    <div class="faq-page-header-text">
      <h1 style="text-align: center;">F.A.Q.</h1><br />
      <p>From here, you can edit different items from the faq section, press save and it will be automatically applied to our app</p>
    </div>
    <ul class="nav sticky-top justify-content-center nav-tabs bg-light" style="color: #565A5C;">
      <li class="nav-item">
        <a class="nav-link" href="#general" style="color: #565A5C; font-size: 20px;">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#all_houses" style="color: #565A5C; font-size: 20px;">All Houses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#families" style="color: #565A5C; font-size: 20px;">For Families</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#transportation" style="color: #565A5C; font-size: 20px;">Transportation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#neville" style="color: #565A5C; font-size: 20px;">Neville</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#shadyside" style="color: #565A5C; font-size: 20px;">Shadyside</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#university" style="color: #565A5C; font-size: 20px;">University Place</a>
      </li>
      <li class="nav-item">
        <button class="btn disabled" id="save_button" type="submit" value="submit" style="margin-top: 5px;" disabled>Save</button>
      </li>
    </ul>
    <br />
    <!-- Jumbotrons for sections -->
    <div class="container">
      <div id="general" class="row jumbo-faq" style="text-align: center">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">General</h1>
          <a class="btn btn-primary" id="create" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#createBtnModal">Create New Listing</a>
          <!--Modal For Creating a question -->
          <div class="modal fade" id="createBtnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <div class="form-row">
                          <div class="col-xs-12">
                              <label for="question">Question</label>
                              <input type="text" id="question"  name="question" class="form-control" />
                              <label for="answer">Answer</label>
                              <input type="text" id="answer" name="answer" class="form-control" />
                              <input type="hidden" id="Idc" value="1" name="Id" class="form-control" />
                          </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" value="submit" class="btn btn-primary" onclick="createSection('')">Create</button>
                    </div>
                  </div>

            </div>
        </div>
      </div>
          <hr class="my-4">

          {{#general}}
            <div class="form-row" id="section-{{ Id }}">
              <input type="hidden" name="Id[]" value="{{ Id }}" />
              <div class="col-md-3 col-xs-12">
                <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

              </div>
              <div class="col-md-7 col-xs-12">
                <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>

              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
                <!-- Modal for creating a delete button -->
                <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                       Are you sure?
                      </div>
                      <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {{/general}}


        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="all_houses">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">All Houses</h1>
          <hr class="my-4">
            {{#allhouses}}
            <div class="form-row" id="section-{{ Id }}">
              <input type="hidden" name="Id[]" value="{{ Id }}" />

              <div class="col-md-3 col-xs-12">
                <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

              </div>
              <div class="col-md-7 col-xs-12">
                <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
                <!-- Modal for creating a delete button -->
                <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                       Are you sure?
                      </div>
                      <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/allhouses}}
            <div class="form-row" id="section-{{ Id }}">
              <input type="hidden" name="Id[]" value="{{ Id }}" />

              <div class="col-md-3 col-xs-12">
                <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

              </div>
              <div class="col-md-7 col-xs-12">
                <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
                <!-- Modal for creating a delete button -->
                <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                       Are you sure?
                      </div>
                      <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!-- -->
        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="families">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">For Families</h1>
          <hr class="my-4">

            {{#forfamilies}}
            <div class="form-row" id="section-{{ Id }}">
              <input type="hidden" name="Id[]" value="{{ Id }}" />

              <div class="col-md-3 col-xs-12">
                <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

              </div>
              <div class="col-md-7 col-xs-12">
                <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
                <!-- Modal for creating a delete button -->
                <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                       Are you sure?
                      </div>
                      <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/forfamilies}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="transportation">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">Transportation</h1>
          <hr class="my-4">

            {{#transportation}}
            <div class="form-row" id="section-{{ Id }}">
            <input type="hidden" name="Id[]" value="{{ Id }}" />

            <div class="col-md-3 col-xs-12">
              <input class="form-control field" type="text" name="question[]" value="{{ question }}" />
            </div>
            <div class="col-md-7 col-xs-12">
              <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
              <!-- Modal for creating a delete button -->
              <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     Are you sure?
                    </div>
                    <div class="modal-footer">
                      <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {{/transportation}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="neville">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">Neville</h1>
          <hr class="my-4">

            {{#neville}}
            <div class="form-row" id="section-{{ Id }}">
            <input type="hidden" name="Id[]" value="{{ Id }}" />

            <div class="col-md-3 col-xs-12">
              <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

            </div>
            <div class="col-md-7 col-xs-12">
              <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
              <!-- Modal for creating a delete button -->
              <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     Are you sure?
                    </div>
                    <div class="modal-footer">
                      <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {{/neville}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="shadyside">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">Shadyside</h1>
          <hr class="my-4">

            {{#shadyside}}
          <div class="form-row" id="section-{{ Id }}">
            <input type="hidden" name="Id[]" value="{{ Id }}" />

            <div class="col-md-3 col-xs-12">
              <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

            </div>
            <div class="col-md-7 col-xs-12">
              <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
              <!-- Modal for creating a delete button -->
              <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     Are you sure?
                    </div>
                    <div class="modal-footer">
                      <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {{/shadyside}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="university">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">University Place</h1>
          <hr class="my-4">

            {{#university}}
          <div class="form-row" id="section-{{ Id }}">
            <input type="hidden" name="Id[]" value="{{ Id }}" />

            <div class="col-md-3 col-xs-12">
              <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

            </div>
            <div class="col-md-7 col-xs-12">
              <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary" id="deletebtn2" style="float: center; margin-bottom: 50px; color: white;" data-toggle="modal" data-target="#deleteModal_{{ Id }}">Delete</a>
              <!-- Modal for creating a delete button -->
              <div class="modal fade" id="deleteModal_{{ Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     Are you sure?
                    </div>
                    <div class="modal-footer">
                      <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="deletebtn" class="btn btn-primary" onclick="deleteSection('{{ Id }}')"  data-dismiss="modal">Yes Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {{/university}}

        </div>
      </div>
    </div>
  </form>
</div>



<script type="text/javascript">
  $(document).ready(function() {
    $(".field").on("change", function(){
        $("#save_button").addClass("btn-success");
        $("#save_button").removeClass("disabled");
        $("#save_button").prop("disabled", false);

    })

  });

  function createSection(Id) {
    $.ajax({
      type: 'post',
      url: '/create_faq',
      data: {
        question: $("#question").val(),
        answer: $("#answer").val(),
        Id: $("#Idc").val()
      },
      dataType: 'json'
    }).done(function(data) {

      if (data['status'] = true) {
        triggermessage("success", data['message']);
        $('#section-' + Id).remove();
      } else {
        triggermessage("danger", data['message']);
      }
    });
  }s

  function deleteSection(Id) {
    $.ajax({
      type: 'post',
      url: '/delete_faq',
      data: {
        Id: Id
      },
      dataType: 'json'
    }).done(function(data) {

      if (data['status'] = true) {
        triggermessage("success", data['message']);
        $('#section-' + Id).remove();
      } else {
        triggermessage("danger", data['message']);
      }
    });
  }
$('form')
    .each(function(){
        $(this).data('serialized', $(this).serialize())
    })
    .on('change input', function(){
        $(this)
            .find('input:submit, button:submit')
                .prop('disabled', $(this).serialize() == $(this).data('serialized'))
        ;
     })
    .find('input:submit, button:submit')
        .prop('disabled', true)
;
        </script>
