<style>
  table,
  th,
  td {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
  }

  textarea {
    min-width: 100%;
  }

</style>
{{#if success}}
  <div class="alert alert-primary" role="alert">
    {{ success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if error}}
  <div class="alert alert-primary" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<!--Modal For Creating an Event -->
<div class="modal fade" id="createfaq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <form action="/create_faq" method="POST" id="createfaqForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row" style="margin-bottom: 20px;">
                        <div class="col-sm-12">
                            <select class="custom-select mr-sm-2 form-control" name="section">
                               <option value="1" selected>Genereal</option>
                               <option value="2">For Families</option>
                               <option value="3">All Houses</option>
                               <option value="4">Transportation</option>
                               <option value="5">Neville</option>
                               <option value="6">Shadyside</option>
                               <option value="7">University Place</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 col-xs-12" style="margin-bottom: 20px;">
                          <input class="form-control field" type="text" name="question" placeholder="Question" />
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <textarea class="form-control field" name="answer" style="" placeholder="Answer"></textarea>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
  </div>
</div>
<div class="container">
  <button class="btn family_house_color_schema" id="" data-toggle="modal" data-target="#createfaq" style="margin-top: 25px;">Create Question</button>
  <form name="save_faq" id="save_faq" class="" action="/save_faq" method="POST">
    <div class="faq-page-header-text">
      <h1 style="text-align: center;">F.A.Q.</h1><br />
      <p>From here, you can edit different items from the faq section, press save and it will be automatically applied to our app</p>
    </div>
    <ul class="nav sticky-top justify-content-center nav-tabs family_house_color_schema" style="">
      <li class="nav-item">
        <a class="nav-link" href="#general" style="color:  #E2D478; font-size: 20px;">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#all_houses" style="color: #E2D478; font-size: 20px;">All Houses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#families" style="color: #E2D478; font-size: 20px;">For Families</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#transportation" style="color: #E2D478; font-size: 20px;">Transportation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#neville" style="color: #E2D478; font-size: 20px;">Neville</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#shadyside" style="color: #E2D478; font-size: 20px;">Shadyside</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#university" style="color: #E2D478; font-size: 20px;">University Place</a>
      </li>
      <li class="nav-item">
        <button class="btn disabled" id="save_button" type="submit" value="submit" style="margin-top: 5px;" disabled>Save</button>
      </li>
    </ul>
    <br />
    <!-- Jumbotrons for sections -->
    <div class="container">
      <div id="general" class="row jumbo-faq" style="text-align: center">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">General</h1>
          <hr class="my-4">
          {{#general}}
            <div class="form-row" id="section-{{ Id }}">
              <input type="hidden" name="Id[]" value="{{ Id }}" />
              <div class="col-md-3 col-xs-12">
                <input class="form-control field" type="text" name="question[]" value="{{ question }}" />
              </div>
              <div class="col-md-7 col-xs-12">
                <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>

              </div>
              <div class="col-md-2">
                <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
              </div>
            </div>
          {{/general}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="all_houses">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">All Houses</h1>
          <hr class="my-4">
            {{#allhouses}}
                <div class="form-row" id="section-{{ Id }}">
                    <input type="hidden" name="Id[]" value="{{ Id }}" />
                    <div class="col-md-3 col-xs-12">
                        <input class="form-control field" type="text" name="question[]" value="{{ question }}" />
                    </div>
                    <div class="col-md-7 col-xs-12">
                        <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
                    </div>
                    <div class="col-md-2">
                        <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
                    </div>
                </div>
            {{/allhouses}}
        </div>
    </div>
      <div class="row jumbo-faq" style="text-align: center" id="families">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">For Families</h1>
          <hr class="my-4">
            {{#forfamilies}}
                <div class="form-row" id="section-{{ Id }}">
                  <input type="hidden" name="Id[]" value="{{ Id }}" />
                  <div class="col-md-3 col-xs-12">
                    <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

                  </div>
                  <div class="col-md-7 col-xs-12">
                    <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
                  </div>
                  <div class="col-md-2">
                    <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
                  </div>
                </div>
            {{/forfamilies}}
        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="transportation">
        <div class="jumbotron" style="width: 100%">
        <h1 class="display-4">Transportation</h1>
        <hr class="my-4">
        {{#transportation}}
            <div class="form-row" id="section-{{ Id }}">
                <input type="hidden" name="Id[]" value="{{ Id }}" />

                <div class="col-md-3 col-xs-12">
                  <input class="form-control field" type="text" name="question[]" value="{{ question }}" />
                </div>
                <div class="col-md-7 col-xs-12">
                  <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
                </div>
                <div class="col-md-2">
                    <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
                </div>
          </div>
        {{/transportation}}
        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="neville">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">Neville</h1>
          <hr class="my-4">
        {{#neville}}
            <div class="form-row" id="section-{{ Id }}">
                <input type="hidden" name="Id[]" value="{{ Id }}" />

                <div class="col-md-3 col-xs-12">
                  <input class="form-control field" type="text" name="question[]" value="{{ question }}" />

                </div>
                <div class="col-md-7 col-xs-12">
                  <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
                </div>
                <div class="col-md-2">
                    <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
                </div>
          </div>
        {{/neville}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="shadyside">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">Shadyside</h1>
          <hr class="my-4">
            {{#shadyside}}
          <div class="form-row" id="section-{{ Id }}">
            <input type="hidden" name="Id[]" value="{{ Id }}" />
            <div class="col-md-3 col-xs-12">
              <input class="form-control field" type="text" name="question[]" value="{{ question }}" />
            </div>
            <div class="col-md-7 col-xs-12">
              <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
            </div>
            <div class="col-md-2">
              <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
            </div>
          </div>
            {{/shadyside}}

        </div>
      </div>
      <div class="row jumbo-faq" style="text-align: center" id="university">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">University Place</h1>
          <hr class="my-4">
          {{#university}}
              <div class="form-row" id="section-{{ Id }}">
                <input type="hidden" name="Id[]" value="{{ Id }}" />
                <div class="col-md-3 col-xs-12">
                  <input class="form-control field" type="text" name="question[]" value="{{ question }}" />
                </div>
                <div class="col-md-7 col-xs-12">
                  <textarea class="form-control field" name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ answer }}</textarea>
                </div>
                <div class="col-md-2">
                    <a class="btn family_house_color_schema_reverse" id="deletebtn2" style="float: right; margin-bottom: 50px;" href="javascript:deleteSection('{{ Id }}')">Delete</a>
                </div>
             </div>
          {{/university}}
    </div>
</div>
 </form>

<script type="text/javascript">
  $(document).ready(function() {
    $(".field").on("change", function(){
        $("#save_button").addClass("family_house_color_schema_reverse");
        $("#save_button").removeClass("disabled");
        $("#save_button").prop("disabled", false);

    })

  });

  function deleteSection(Id) {
    $.ajax({
      type: 'post',
      url: '/delete_faq',
      data: {
        Id: Id
      },
      dataType: 'json'
    }).done(function(data) {

      if (data['status'] = true) {
        triggermessage("success", data['message']);
        $('#section-' + Id).remove();
      } else {
        triggermessage("danger", data['message']);
      }
    });
  }
  $('#deleteModal').on('shown.bs.modal', function () {
  $('#deletebtn').trigger('focus')
})
$('form')
    .each(function(){
        $(this).data('serialized', $(this).serialize())
    })
    .on('change input', function(){
        $(this)
            .find('input:submit, button:submit')
                .prop('disabled', $(this).serialize() == $(this).data('serialized'))
        ;
     })
    .find('input:submit, button:submit')
        .prop('disabled', true)
;
/*$("#deletebtn").click(deleteSection('{{ Id }}'))

$("#deletebtn").click(function() {
    console.log("this got called");
  $('#deletebtn').trigger('focus')
})*/

        </script>
