<style>
table, th, td {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
}
textarea {
		min-width: 100%;
	}
</style>

<div class="home-page">
     <div class="col-xs-12 home-page-welcome">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250">F.A.Q.</h1><br>
</div>

<!-- Jumbotrons for sections -->
<h2>General</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each general}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<h2>For Families</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each forfamilies}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<h2>All Houses</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each allhouses}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<h2>Transportation</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each transportation}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<h2>Neville</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each neville}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<h2>Shadyside</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each shadyside}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<h2>University Place</h2>
<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
<table class="table table-striped" id="mytable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     {{#each universityplace}}
    <tr>
      <td>{{Id}}</td>
      <td>{{question}}</td>
      <td>{{answer}}</td>
      <td>
        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{Id}}" data-question="{{question}}" data-answer="{{answer}}">Edit</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{Id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<!-- Start Modals -->

<!-- Edit Product Modal-->
<form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Edit Row</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div class="form-group">
               <input type="text" name="question" class="form-control question" placeholder="Question" required>
           </div>

           <div class="form-group">
               <input type="text" name="answer" class="form-control answer" placeholder="Answer" required>
           </div>
         </div>
         <div class="modal-footer">
           <input type="hidden" name="Id" class="Id">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Update</button>
         </div>
       </div>
     </div>
    </div>
</form>

<!-- Delete Product Modal-->
 <form id="add-row-form" action="/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="myModalLabel">Delete Row</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                      <strong>Are You Sure To Delete This Data?</strong>
              </div>
              <div class="modal-footer">
                   <input type="hidden" name="Id" class="form-control Id2" required>
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-success">Delete</button>
              </div>
           </div>
       </div>
    </div>
</form>

<script>
    $(document).ready(function(){
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var Id = $(this).data('Id');
        var question = $(this).data('question');
        var answer = $(this).data('answer');
        $('#EditModal').modal('show');
        $('.question').val(question);
        $('.answer').val(answer);
        $('.Id').val(Id);
      });
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var Id = $(this).data('Id');
        $('#DeleteModal').modal('show');
        $('.Id2').val(Id);
      });
    });
</script>
