<div class="home-page">
     <div class="col-xs-12 home-page-welcome">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250">Linen Requests</h1>

<style>
table, th, td {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
}
</style>
  <br>
  <table>
  <tbody>
    <tr>

		  <th>House Name</th>
      <th>Room Number</th>
      <th>QTY of Towels</th>
			<th>QTY of Bathmats</th>
			<th>QTY of Bluebags</th>


    </tr>
    {{#each rows}}
      <tr>
        <td>{{house}}</td>
      	<td>{{room}}</td>
				<td>{{towels}}</td>
				<td>{{washcloths}}</td>
				<td>{{bathmats}}</td>
				<td>{{bluebag}}</td>

			</tr>
    {{/each}}
  </tbody>
  </table>
  <br>
