<div class="home-page">
     <div class="col-xs-12 home-page-welcome">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250">Linen Requests</h1>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

<style>
	.dt-body-nowrap {
	   white-space: nowrap;
	}
</style>
<div class="container" style="margin-top: 25px;">
  <h1>Linens Requests</h1>
  <table id="linen_requests" class="table display table-striped hoverable">
	<thead>
		<tr class="table-dark" style="color: black;">
			<th>House Name</th>
			<th>QTY of Sheets</th>
			<th>Room Number</th>
			<th>QTY of Towels</th>
			<th>QTY of Washcloths</a></th>
			<th>QTY of Bathmats</th>
			<th>QTY of Bluebags</th>
			<th>Request Date</th>
			<th data-orderable="false">Served?</th>
	    </tr>
	</thead>
	<tbody>
		{{#each rows}}
			<tr class="">
				<td>{{Name}}</td>
				<td>{{sheets}}</td>
				<td>{{room}}</td>
				<td>{{towels}}</td>
				<td>{{washcloths}}</td>
				<td>{{bathmats}}</td>
				<td>{{bluebag}}</td>
				<td>{{date}}</td>
				<td> <input type="checkbox" {{#if isServed}}checked="checked"{{/if}} /></td>
			</tr>
		{{/each}}
	</tbody>
  </table>
</div>

  <script type="text/javascript">
	$(document).ready( function () {
		$('#linen_requests').DataTable();
	});
  </script>
