

<style>
table, th, td {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
}
</style>
  <br>
  <h1>Linens Requests</h1>
  <br>
  <table>
  <tbody>
    <tr>

		  <th>House Name</th>
      <th>Room Number</th>
      <th>QTY of Towels</th>
			<th>QTY of Bathmats</th>
			<th>QTY of Bluebags</th>
      

    </tr>
    {{#each rows}}
      <tr>
        <td>{{house}}</td>
      	<td>{{room}}</td>
				<td>{{towels}}</td>
				<td>{{washcloths}}</td>
				<td>{{bathmats}}</td>
				<td>{{bluebag}}</td>

			</tr>
    {{/each}}
  </tbody>
  </table>
  <br>
