<style>
  table,
  th,
  td {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
  }

  textarea {
    min-width: 100%;
  }
</style>
{{#if success}}
  <div class="alert alert-primary" role="alert">
    {{ success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if error}}
  <div class="alert alert-primary" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
<div class="container">
  <form name="save_alert" id="save_alert" class="" action="/save_alert" method="POST">

    <div class="faq-page-header-text">
      <h1 style="text-align: center;">Alert Details</h1><br />
      <p>Here you can edit the details of Alerts</p>
    </div>
    <br>
    <!-- Jumbotrons for sections -->
    <div class="container">
      <div id="general" class="row jumbo-faq" style="text-align: center">
        <div class="jumbotron" style="width: 100%">
          <h1 class="display-4">{{ alert.title}}</h1>
          <hr class="my-4">

          {{#alert}}
            <div class="form-row" id="section-{{ Id }}">
              <input type="hidden" name="Id[]" value="{{ Id }}" />
              <div class="col-md-12 col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Choose a House:</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Shadyside</option>
                    <option value="2">Neville</option>
                    <option value="3">University Place</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="col-md-12 col-md-4">
                <textarea class="form-control" placeholder="Alert Details..." name="answer[]" style="margin-bottom: 10px; height: 200px;">{{ details }}</textarea>
              </div>
              <br>
  </form>
</div>
</div>
<button class="btn btn-success" type="submit" value="submit" style="margin-top: 5px;">Save</button>
{{/alert}}

</div>
</div>
</div>
</div>
</div>
</form>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    //    triggermessage("dark", "This is a test");

  });

  function deleteSection(Id) {
    $.ajax({
      type: 'post',
      url: '/delete_section',
      data: {
        Id: Id
      },
      dataType: 'json'
    }).done(function(data) {

      if (data['status'] = true) {
        triggermessage("success", data['message']);
        $('#section-' + Id).remove();
      } else {
        triggermessage("danger", data['message']);
      }
    });
  }

  //to add images
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }

  $("#imgInp").change(function() {
    readURL(this);
  });
</script>
